.layout_padding {
  padding: 75px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}




.about_section .img-box img {
  width: 100%;
}

.about_section .detail-box p {
  margin-top: 25px;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 12px 45px;
  background-color: #fb1004;
  color: #ffffff;
  border-radius: 10px;
  margin-top: 25px;
}

.about_section .detail-box a:hover {
  background-color: #b00b03;
  color: #ffffff;
}

.color {
  color: "crimson"
}

.slider_section {
  margin-top: -75px;
}

.slider_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider_section .detail-box h1 {
  font-size: 4rem;
  font-weight: bold;
}

.slider_section .detail-box p {
  margin: 15px 0;
}

.slider_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #fb1004;
  color: #ffffff;
  border-radius: 0;
  margin-top: 15px;
}

.slider_section .detail-box a:hover {
  background-color: #b00b03;
  color: #ffffff;
}

.slider_section .img-box img {
  width: 100%;
}

.slider_section .carousel-control-prev,
.slider_section .carousel-control-next {
  position: absolute;
  left: 2.5%;
  width: 45px;
  height: 45px;
  border: none;
  top: 47%;
}

.slider_section .carousel-control-prev {
  -webkit-transform: translate(-50%, 55px);
  transform: translate(-50%, 55px);
}